#result {
    display: flex;
    gap: 16px;
    margin-top: 20px;
    width: 100%;
    overflow-x: scroll;
}

.item {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}